{% extends "blog/base.html" %}

{% load widget_tweaks %}

{% block page_title %}Create Task{% endblock %}

{% csrf_token %}
{% block custom_list %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'feed' username=user.username %}" class="nav-link px-2 text-secondary">Feed</a></li>
        <li><a href="{% url 'create_post' username=username %}" class="nav-link px-2 text-secondary">Create Post</a>
        <li><a href="{% url 'my_posts' username=user.username %}" class="nav-link px-2 text-secondary">My Posts</a></li>
        <div class="d-flex ms-auto">
            <li class="nav-item"><a href="{% url 'profile' username=username %}" class="nav-link px-2 text-secondary">My
                Profile</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link px-2 text-secondary">Logout</a></li>
        </div>
    {% else %}
        <li><a href="{% url 'signup' %}" class="nav-link px-2 text-secondary">Sign Up</a></li>
        <li><a href="{% url 'login' %}" class="nav-link px-2 text-secondary">Log In</a></li>
    {% endif %}
{% endblock %}

{% block custom_body %}
    {% if user.is_anonymous %}
        <h1 style="text-align: center;">You don’t have access to this resource! Please log in or sign up first.</h1>
    {% else %}
        {% if request.user.username == username %}
            <main class="form-signin w-25 m-auto container">
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }} </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 fw-normal">Edit the post</h1>

                    <div class="form-floating">
                        {{ form.title }}
                        <label for="{{ form.title.id_for_label }}">Title</label>
                    </div>

                    <div class="form-floating">
                        {{ form.plot }}
                        <label for="{{ form.plot.id_for_label }}">Plot</label>
                    </div>

                    <div class="form-floating">
                        {{ form.category }}
                        <label for="{{ form.category.id_for_label }}">Category</label>
                    </div>
                    <div class="form-floating">
                        {{ form.tag }}
                        <label for="{{ form.tag.id_for_label }}">Tag</label>
                    </div>
                    <button class="btn btn-dark w-100 py-2" type="submit">Submit</button>
                </form>
            </main>
        {% else %}
            <h1 style="text-align: center;">Wrong address!</h1>
        {% endif %}
    {% endif %}
{% endblock %}
