{% extends "secured_app/base.html" %}
{% block page_title %}Sign Up{% endblock %}
{% block custom_list %}
    <li><a href="{% url 'signin' %}" class="nav-link px-2 text-secondary">Sign In</a></li>
{% endblock %}
{% block custom_body %}
<main class="form-signin w-25 m-auto container">
{% csrf_token %}
    <form method="post">
        {% for field in form %}
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ field.name }}
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <div class="form-floating">
            {% csrf_token %}
            {{ form.username }}
            <p></p>
            <label>Username</label>
        </div>
        <div class="form-floating">
            {{ form.email }}
            <p></p>
            <label>Email</label>
        </div>
        <div class="form-floating">
            {{ form.password }}
            <p></p>
            <label>Password</label>
        </div>
        <div class="form-floating">
            {{ form.confirm_password }}
            <label>Confirm Password</label>
        </div>
        <p></p>
        <button class="btn btn-dark w-100 py-2" type="submit">Sign Up</button>
    </form>
</main>

{% endblock %}