{% extends 'userprofile/base.html' %}
{% block page_title %}Profile{% endblock %}
{% block custom_body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert" style="text-align: center">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<p></p>
<a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top container">
    <img src="{{ avatar }}" style="width:430px;height:290px;" >
    <div class="col-lg-8 rounded text-body-emphasis bg-dark-subtle mb-4 p-4">
        <div class="col-lg-6 px-0">
            <h3 class="display-5 fst-italic">{{ username }}`s Profile</h3>
            <p class="lead my-3">{{ bio }}</p>
        </div>
    </div>
</a>

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary container">
    <div class="col-lg-6 px-0">
        <p class="lead my-2">Birth Date: {{ birth_date }}</p>
        <p class="lead my-2">Location: {{ location }}</p>
    </div>
</div>
{% endblock %}

