<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Chat Room</h1>
<input id="messageInput" type="text" placeholder="Type a message...">
<button onclick="sendMessage()">Send</button>
<ul id="messages"></ul>
<script>
    let chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        let message = data['message'];
        console.log("Data from server:", data);
        console.log(message);

        if (data['response']) {
            message.textContent = `Sender email: ${data['response']}`;
        } else if (data['tweet']) {
            message.textContent = `Group message: ${data['tweet']}`;
        } else if (data['message']) {
            message.textContent = `Group message: ${data['message']}`;
        }
        else {
            console.log("Unknown message format", data);
            return;
        }
        document.querySelector('#messages').innerHTML += '<li>' + message + '</li>';
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    function sendMessage() {
        var messageInputDom = document.querySelector('#messageInput');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            "message": message
        }));
        messageInputDom.value = '';
    }
</script>
</body>
</html>