<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
</head>
<body>
<h1>Chat room</h1>
<input type="text" id="inputText" placeholder="Type something...">
<button id="submitButton">Submit</button>
<div id="container"></div>

<script>
    const socket = new WebSocket('ws://127.0.0.1:8000/ws');

    function showMessage(message) {
        const messageContainer = document.getElementById('container');
        const messageElement = document.createElement('div');
        messageElement.textContent = message;
        messageContainer.appendChild(messageElement);
    }

    socket.addEventListener('open', (event) => {
        showMessage('Connected to server.');
    });

    socket.onmessage = (event) => {
        showMessage("You sent : " + event.data)
    }

    socket.addEventListener('close', (event) => {
        showMessage('Connection closed.');
    });

    const inputText = document.getElementById("inputText");
    const submitButton = document.getElementById("submitButton");

    submitButton.addEventListener("click", function () {
        const inputValue = inputText.value;
        socket.send(inputValue)
    });

</script>
</body>
</html>